{% extends 'base.html.twig' %}

{% block title %}Edit Refugier{% endblock %}

{% block body %}
    <h1>Edit Refugier</h1>

    {{ include('crud_refugier/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_crud_refugier_index') }}">back to list</a>

    {{ include('crud_refugier/_delete_form.html.twig') }}
{% endblock %}
