{% extends 'base.html.twig' %}

{% block title %}New Refugier{% endblock %}

{% block body %}
    <h1>Create new Refugier</h1>

    {{ include('crud_refugier/_form.html.twig') }}

    <a href="{{ path('app_crud_refugier_index') }}">back to list</a>
{% endblock %}
